body {
    font-family: "Noto Sans JP", sans-serif;
    font-display: swap;
    width: 100vw;
    -webkit-text-size-adjust: 100%;
}

.ib {
    display: inline-block;
}

//ロゴ関係
.st0 {
    fill: #fff;
}

.st1 {
    fill: #af0404;
}

.tokoton {
    fill: #232323;
}

//ページ遷移アニメーション
.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}
