body {
    font-family: "Noto Sans JP", sans-serif;
    font-display: swap;
    width: 100vw;
    -webkit-text-size-adjust: 100%;
}

.ib {
    display: inline-block;
}

//ロゴ関係
.st0 {
    fill: #fff;
}

.buta {
    fill: #fff;
}